/*Mobile: width < 740px*/
@media only screen  and (max-width : 739px){
    header{
        height: 120vh;
    }
    .header__logo-box img{
        width: 100%;
        padding:1%;
    }
    .header__logo-box {
        top: 0;
        left: 0;
    }
    .heading-primary--main{
        font-size: 40px;
        letter-spacing: 5px;
        font-weight: 1000;
    }
    .heading-primary--sub{
        font-size: 25px;
        word-spacing: 5px;
        letter-spacing: 8px;
    }
    .about-section{
        margin-top: -110px;
        height: 170vh;
    }
    h2{
       font-size: 143%;
       color: #0097e6; 
       letter-spacing: 5px;
    }
    .data{
        left: 25px;
        width: 100%;
    }
    .img{
        bottom:-25%;
        left: -18%;
        width: 100%;
        margin: -30px 50px; 
    }
    .img-friend img{
        width: 50%;
    }
    .img-friend2{
        left: 170px;
        top: 50px;
    }
    .social{
        height: 182vh;
    }
    .social__row--col {
        width: 53%;
        margin: -22px 20px;
        margin-top: 100px;
    }
    .courses-section {
        padding: 150px 0;
        height: 240vh;
    }
    .card{
        margin: 10px -40px;
    }
    .testimonials-cmt{
       margin: 45px -253px;
        height: 25vh;
        border-radius: 30px;
        padding: 0 0;
        display: block;
        width: 300px;
        
    }
    .paragraph-text{
        width: 73%;
        margin-left: 39%;
        margin-top: 5%;
    }
    .text{
        font-size: 10px;
        width: 220%;
        margin-left: 39%;
        margin-top: 7%;
        margin-bottom: -6%;
    }
    .import-user{
        height: 90vh;
    }
    .infor{
        top:30px;
        left: 115px;
    }
    .emroll-now{
        width: 100%;
        height: 90%;
        margin-left: 0;
    }
    .data-user{
        width: 100%;
    }
    .form{
        margin-top: -70px;
    }
    .h2-enroll{
        padding: 10px 15px;
    }
    input[type="text"], 
    input[type="email"]{
        margin: 10px -40px;
        width: 95%;
        padding: 18px 10px;
    }
    .radio-genden .radio-genden-radio{
        margin-top: 10px;
        margin-left: -35px;
    }
    .button .btn-sub{
        width: 66%;
        height: 49px;
        font-size: 20px;
        padding-left: 40px;
    }
    .logo-tron{
        width: 21%;
        margin-top: 40px;
    }
    .footer-col-caption{
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        z-index: 0;
    }
    .bars{
        position: absolute;
        bottom: 42px;
        right: -255px;
        display: block;
    }
    .bars-times{
        top: 2px;
        left: -100px;
    }
    .checkbar:checked +.bars{
        display: none;
    }
   
    .checkbar:checked ~.over-lay{
        display: block;
    }
    .row-footer{
        position: fixed;
        top: 10px;
        left: 25px;
        right: 135px;
        bottom: 30px;
        opacity: 0;
        background-color:#dcdde1;
        visibility: hidden;
        transform: translateX(-50%);
        transition: all .5s;
        z-index: 3;
    }
    .footer-col-link ul li{
        font-size: 100%;
        margin: 0 20px;
        color: #0097e6;
        font-weight: 900;
        width: 100%;
        height: 50%;
    }
    .footer-col-link ul li::after{
        content: "";
        display: block;
        width: 150%;
        height: 2px;
        background-color:#0097e6 ;
    }
    .checkbar:checked~ .row-footer{
        transform: translateX(0%);
        cursor: pointer;
        visibility: visible;
        opacity: 1; 
    }
    .footer-col-link{
        display: block;
        position: fixed;
        left: 340px;
    }
    .footer-col-link ul li{
        margin-bottom: 70px;
    }
    .footer-col-link::before{
        display: none;
    }
    .nav-menu{
        left: 26%;
    }
    .nav-button{
        background-color: #0abde3;
        top: 36px;
        right: 35px;
    }
    .nav-background{
        top: 50px;
        right: 45px;
    }
    .content{
        width: 90%;
        left: 17px;
        padding: 149px 0;
    }
    .popup-img img{
        display: inline;
        height: 140px;
        position: relative;
        top: -136px;
        width: 48%;
    }
    .information-eroll {
        width: 120%;
        position: absolute;
        top: -4px;
        left: 6%;
        padding-top: 100px;
        vertical-align: middle;
    }
    .content{
        height: 75vh;
        top: 73px;
    }
    .time{
        top: -10px;
        right: 95px;
    }
    .h2-enroll{
        margin-top: 70px;
    }
    .btn-now{
        margin-top: -15px;
    }
}
/*Tablet :width >=740px and width <1024px*/
@media only screen and (min-width : 741px) and (max-width :1023px) {
    .data{
        left: 50px;
    }
    .img-friend2{
        left: 125px;
    }
    .img-friend img {
        width: 50%;
    }
    .img {
        right: -35px;
    }
    .social{
        height: 100vh;
    }
    .social__row--col{
        width: 28%;
        margin-top: 83px;
        margin-bottom: 10px;
    }
    .courses-section{
        padding: 150px 0px;
        height: 180vh;
    }
    .card-slide {
        left: -55px;
    }
    .testimonials-cmt{
        width: 340%;
        margin-left: -150px;
    }
    .paragraph{
        width: 100%;
    }
    .emroll-now{
        margin-left: 34px;
        width: 90%;
    }
    .h2-enroll{
        font-size: 168%;
        color:#0097e6 ;
        padding: 10px 10px;
        letter-spacing: 3px;
    }
    .radio-genden .radio-genden-radio{
        margin-top: -15px;
    }
    .radio-genden .radio-genden-radio .btn-check {
        top: -3px;
    }
    .information-eroll{
        top: -100px;
    }
    .content{
        height: 60vh;
    }
    .time{
        top: 94px;
        right: 55px;
    }
    .information-eroll .btn-now {
        width: 50%;
        height:50px;
        font-size: 18px;
        padding-bottom: 10%;
    }
    .content{
       left: 65px;
    }
    h2{
        font-size: 190%;
    }
    .popup-img {
        padding:10% 2%
    }
    .time{
        top: 100px;
        right: 60px;
        z-index: 2;
    }
    .button .btn-sub {
        width: 65%;
        padding:3%;
        text-align: center;
        padding-bottom: 14%;
        font-size: 20px;
    }
    .footer{
        height: 40vh;
    }
    .logo-tron{
        margin-top: 50px;
    }
    .row-footer{
        transition: all linear .2s;
    }
    .bars{
        display: block;
        cursor: pointer;
        transition: opacity .5s;
    }
    .bars-times{
        transform: opacity 1s;
    }
    .checkbar{
        cursor: pointer;
    }
    .checkbar:checked~ .row-footer{
        transform: translateY(0%);
        opacity: 1;
    }
    .checkbar:checked ~.bars{
        opacity: 0;
    }
    .checkbar:checked ~.row-footer .bars-times{
        visibility: visible;
        transform: opacity 3s;
    }
    .checkbar:checked ~.over-lay{
        display: block;
    }
    .nav-menu{
        left: 35%;
    }
    .footer-col-caption {
        margin-right: 125px;
        width: 42%;
        margin-top: 15px;
    }
    .footer-col-caption::before{
        width: 140%;
    }
    .footer-col-link{
        width: 100%;
        margin-right: 120px;
    }
    .footer-col-link::before {
        display: none;
    }
    .footer-col-link ul li{
        font-size: 100%;
        margin: 0 20px;
        color: #0097e6;
        font-weight: 900;
    }
    .checkbar{
        display: none;
    }
    .row-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:#dcdde1;
        transform: translateY(50%);
        opacity: 0;
        z-index: 3;
    }
    .over-lay{
        position: fixed;
        width: 200%;
        top: 0;
        left: -22px;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .2);
        display: none;
    }
    .bars{
        display: block;
    }
    .bars-times{
        font-size: 22px;
        color: #0097e6;
        top: 0px;
        left: -40px;
        z-index: 3;
        visibility: hidden;
    }
    
}
/*PC : width >=1024px*/
@media only screen and ( min-width:1024px) and (max-width :1250px){
    .header__text-box {
        top:30%
    }
    .about-section{
        height: 100vh;
        margin-top: -132px;
    }
    .social{
        height: 70vh;
        margin-top: -30px;
    }
    .social__row--col {
        width: 16%;
    }
    .courses-section {
        height: 180vh;
    }
    .testimonials-cmt {
        width: 150%;
        margin-left: -90px;
    }
    .testimonials {
        padding: 0 10px;
    }
    .emroll-now {
        margin-left: 18%;
    }
    .footer-col{
        width: 32%;
    }
    .information-eroll {
        top:-70px;
    }
    .time{
        top: 70px;
        right: 90px;
    }
    .information-eroll .btn-now {
        width: 35%;
    }
    .h2-enroll{
        font-size: 188%;
    }
}